<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="non_surgical-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Non-Surgical Cosmetic
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-surgical-cosmetic-link">
                <a href="{% url 'products' %}?category=botox_antiwrinkle_injections" class="dropdown-item">Botox Anti-Wrinkle Injections</a>
                <a href="{% url 'products' %}?category=lip_fillers" class="dropdown-item">Lip Fillers</a>
                <a href="{% url 'products' %}?category=prp_injection" class="dropdown-item">PRP Injection</a>
                <a href="{% url 'products' %}?category=dermal_fillers" class="dropdown-item">Dermal Fillers</a>
                <a href="{% url 'products' %}?category=nonsurgical_rhinoplasty" class="dropdown-item">Non-Surgical Rhinoplasty</a>
                <a href="{% url 'products' %}?category=mesotherapy" class="dropdown-item">Mesotherapy</a>
                <a href="{% url 'products' %}?category=chemical_peels" class="dropdown-item">Chemical Peels</a>
                <a href="{% url 'products' %}?category=botox_antiwrinkle_injections,lip_fillers,vampire_facial,prp_injection,dermal_fillers,nonsurgical_rhinoplasty,mesotherapy,chemical_peels" class="dropdown-item">All Non-Surgical Cosmetic Treatments</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dental-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dental
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dental-link">
                <a href="{% url 'products' %}?category=examination_xrays" class="dropdown-item">Examination & X-rays</a>
                <a href="{% url 'products' %}?category=dental_hygiene" class="dropdown-item">Dental Hygiene</a>
                <a href="{% url 'products' %}?category=crowns_bridges" class="dropdown-item">Crowns/Bridges</a>
                <a href="{% url 'products' %}?category=restorations" class="dropdown-item">Restorations</a>
                <a href="{% url 'products' %}?category=examination_xrays,dental_hygiene,crowns_bridges,restorations" class="dropdown-item">All Dental Treatments</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="online_store-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Online Store
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dental-link">
                <a href="{% url 'products' %}?category=" class="dropdown-item">Anti-Aging</a>
                <a href="{% url 'products' %}?category=" class="dropdown-item">Cleanser</a>
                <a href="{% url 'products' %}?category=" class="dropdown-item">Moisturiser</a>
                <a href="{% url 'products' %}?category=" class="dropdown-item">Skin Supplements</a>
                <a href="{% url 'products' %}?category=" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>