<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-services-and-treatments-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Services and Treatments
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-services-and-treatments-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Services and Treatments</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Non-Surgical Cosmetic-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Non-Surgical Cosmetic
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Non-Surgical Cosmetic-link">
                <a href="" class="dropdown-item">Botox Anti-Wrinkle Injections</a>
                <a href="" class="dropdown-item">Lip Fillers</a>
                <a href="" class="dropdown-item">Vampire Facial</a>
                <a href="" class="dropdown-item">PRP Injection</a>
                <a href="" class="dropdown-item">Dermal Fillers</a>
                <a href="" class="dropdown-item">Non-Surgical Rhinoplasty</a>
                <a href="" class="dropdown-item">Mesotherapy</a>
                <a href="" class="dropdown-item">Chemical Peels</a>
                <a href="" class="dropdown-item">All Non-Surgical Cosmetic Treatments</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dental-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dental
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dental-link">
                <a href="" class="dropdown-item">Examination and X-rays</a>
                <a href="" class="dropdown-item">Dental Hygiene</a>
                <a href="" class="dropdown-item">Crowns/Bridges</a>
                <a href="" class="dropdown-item">Restorations</a>
                <a href="" class="dropdown-item">Orthodontics</a>
                <a href="" class="dropdown-item">All Dental Treatments</a>
            </div>
        </li>

<li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="physiotherapy-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Physiotherapy
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="physiotherapy-link">
                <a href="" class="dropdown-item">Range of Motion (ROM) Exercises</a>
                <a href="" class="dropdown-item">Soft Tissue Mobilization</a>
                <a href="" class="dropdown-item">Electrotherapy</a>
                <a href="" class="dropdown-item">Cryotherapy and Heat Therapy</a>
                <a href="" class="dropdown-item">Kinesio Taping</a>
                <a href="" class="dropdown-item">Therapeutic Ultrasound</a>
                <a href="" class="dropdown-item">All Physiotherapy Treatments</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>